<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>24026962670-vdc4qe8u3ug22r38644brif4ke5j5r10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24026962670-vdc4qe8u3ug22r38644brif4ke5j5r10</string>
	<key>API_KEY</key>
	<string>AIzaSyAgmX0DSbpvdbQ8sLAdM3iDOPiT3v78sL0</string>
	<key>GCM_SENDER_ID</key>
	<string>24026962670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raphaelratuczne.motivacaoapp</string>
	<key>PROJECT_ID</key>
	<string>motivacao-60f55</string>
	<key>STORAGE_BUCKET</key>
	<string>motivacao-60f55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24026962670:ios:8888d91ff0a54a73</string>
	<key>DATABASE_URL</key>
	<string>https://motivacao-60f55.firebaseio.com</string>
</dict>
</plist>