page-roteiro {

  .conteudo-roteiro {
    .fundo {

      ion-card {
        margin: 24px auto !important;
      }

      .lista-opcoes {
        background-color: transparent!important;

        ion-item {
          margin: 8px auto !important;
          --border-radius: 10px;

          ion-thumbnail {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }

      height: 100%;
      background: url('../../../assets/imgs/amor-em-estampa-2.jpg') no-repeat fixed center;
      background-size: contain;
    }
  }

}
