page-roteiro {

  .conteudo-roteiro {
    .fundo {
      height: 100%;
      background: url('../../../assets/imgs/amor-em-estampa-2.jpg') center;
      background-size: contain;

      ion-card {
        margin: 26px auto !important;
      }

      .lista-opcoes {
        background-color: transparent!important;

        ion-item {
          margin: 8px auto !important;
          --border-radius: 10px;

          ion-thumbnail {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }

}
