<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="abrirModalCalendario()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="dia">
    <ion-card-content>
      {{ dia.frase }}
    </ion-card-content>
  </ion-card>

  <div *ngIf="afAuth.user | async as user; else showLogin">
    <h2>Olá {{ user.displayName }}</h2>
    <button ion-button (click)="logout()">logout</button>
    <ion-item>
      <button ion-button item-end (click)="comecar()">Comece aqui</button>
    </ion-item>
  </div>
  <ng-template #showLogin>
    <button ion-button (click)="login()">Login with Google</button>
  </ng-template>

</ion-content>
