page-home {

  ion-content {
    background-size: cover;
    background-image: url('../assets/imgs/amor-em-estampa-1.jpeg');
  }

  ion-card {
    margin-top: 30px !important;
  }

  ion-item {
    background-color: transparent !important;

    .item-inner {
      border-bottom: none !important;
    }
  }

}
