
<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>{{ dia ? 'Bem vindo' : 'Minha Terapia' }}</ion-title>
    <ion-buttons end *ngIf="dia">
      <button ion-button icon-only (click)="abrirModalCalendario()">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button icon-only (click)="abrirMenu($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="afAuth.user | async as user; else showLogin">

    <h2>Olá {{ user.displayName }}</h2>

    <ion-card *ngIf="dia">
      <ion-card-content>
        {{ dia.frase }}
      </ion-card-content>

      <ion-row no-padding *ngIf="dia.frase">
        <ion-col></ion-col>
        <ion-col text-right>
          <button ion-button clear small color="secondary" icon-start (click)="share()">
            <ion-icon name='share-alt'></ion-icon>
            Compartilhar
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

    <!-- <button ion-button (click)="logout()" color="secondary">logout</button> -->
    <ion-item>
      <button ion-button item-end (click)="comecar()" color="secondary">Comece aqui</button>
    </ion-item>
  </div>

  <ng-template #showLogin>
    <ion-grid class="btn-login">
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8><button ion-button color="secondary" block (click)="login('g')">Login com Google</button></ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8><button ion-button block (click)="login('f')">Login com Facebook</button></ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>
