page-modal-calendario {

  .conteudo-calendario {
    .fundo {
      height: 100%;
      background: url('../../../../assets/imgs/amor-em-estampa-3.jpg') center;
      background-size: cover;
    }
  }

}

.ui-state-default {
  color: var(--ion-color-secondary) !important;
}

.ui-datepicker-current-day {
  .ui-state-active {
    background-color: var(--ion-color-secondary)!important;
    color: white !important;
  }
}
