page-roteiro {

  ion-content {
    background-size: cover;
    background-image: url('../assets/imgs/amor-em-estampa-1.jpeg');
  }
  
  ion-card {
    margin: 30px auto !important;
  }

  .lista-opcoes {
    ion-item {
      margin: 15px auto !important;
    }
  }

}
