<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ getHeader() }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="conteudo-texto">
  <div class="fundo" padding>
    <ion-card>
      <ion-item>
        {{ getText() }}
        <ion-badge  slot="end" *ngIf="descricao" item-end (click)="abrirDescr()">?</ion-badge>
      </ion-item>
    </ion-card>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="salvar()">
      <ion-list inset class="lista-input">

        <ion-item class="item-textearea">
          <ion-textarea formControlName="texto" autofocus></ion-textarea>
        </ion-item>

      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-3></ion-col>
          <ion-col col-6><ion-button type="submit" color="secondary" block>Salvar</ion-button></ion-col>
          <ion-col col-3></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
