// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Fonte
@font-face {
  font-family: "rodona";
  src: url("../assets/font/Font_Rodona-Regular_BETA.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

ion-content,
ion-header {
  font-family: 'rodona';
}

.card {
  border-radius: 10px!important;
}

.alert-wrapper {
  border-radius: 20px!important;
}
