page-lembrete {

  ion-content {
    background-size: cover;
    background-image: url('assets/imgs/amor-em-estampa-1.jpeg');
  }

  .minha-palavra {
    margin-top: 50%;
    font-size: 2.5em;
    text-align: center;
  }

}
