page-palavra {

  .conteudo-palavra {
    .fundo {
      // height: 100%;
      background: url('../../../assets/imgs/amor-em-estampa-3.jpg') center;
      background-size: cover;

      ion-card {
        --ion-box-shadow-color: transparent;
        --box-shadow: none;
        box-shadow: none;
      }

      ion-list {
        background-color: transparent!important;
      }

      .item-palavra, ion-item {
        --highlight-color-focused: transparent;
        --border-color: transparent;
      }

      .border-r {
        --border-radius: 10px;
        border-radius: 10px!important;
        background-color: white;
      }

      ion-badge {
        z-index: 10;
      }

      ion-label {
        text-overflow: unset;
        white-space: normal;
      }

    }
  }
  // ion-content {
  //
  // }
  //
  //
}
