<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Palavra do dia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo-palavra">
  <div class="fundo" padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="salvar()">

      <ion-card>
        <ion-item class="border-r">
          Lista de palavras (sugestões):
          <ion-badge slot="end" *ngIf="descricao?.palavra" (click)="abrirDescr()">?</ion-badge>
        </ion-item>

        <ion-grid>
          <ion-row *ngFor="let palavra of sugestoes">
            <ion-col col-6>
              {{ palavra[0] }}
            </ion-col>
            <ion-col col-6>
              {{ palavra[1] }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <div padding>

        <ion-item class="item-palavra border-r">
          <ion-label position="stacked">
            Digite sua palavra
          </ion-label>
          <ion-input formControlName="palavra" type="text" autofocus></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-item class="border-r">
          <ion-label>Usar alertas para lembrar durante o dia</ion-label>
          <ion-checkbox formControlName="lembretes" color="dark"></ion-checkbox>
          <ion-badge  slot="end" *ngIf="descricao?.alerta" item-end (click)="abrirAlerta()">?</ion-badge>
        </ion-item>
        <br>

        <ion-list>
          <ion-radio-group formControlName="repetir">
            <ion-list-header class="border-r">
              Repetir a cada:
            </ion-list-header>

            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <ion-item class="border-r">
                    <ion-label>1 hora</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item class="border-r">
                    <ion-label>2 horas</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-item class="border-r">
                    <ion-label>4 horas</ion-label>
                    <ion-radio value="4"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item class="border-r">
                    <ion-label>6 horas</ion-label>
                    <ion-radio value="6"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-item class="border-r">
                    <ion-label>8 horas</ion-label>
                    <ion-radio value="8"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col col-6>
                  <ion-item class="border-r">
                    <ion-label>12 horas</ion-label>
                    <ion-radio value="12"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-radio-group>
        </ion-list>

      </div>

      <ion-grid>
        <ion-row>
          <ion-col col-3></ion-col>
          <ion-col col-6><ion-button type="submit" color="secondary" block>Salvar</ion-button></ion-col>
          <ion-col col-3></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>
