// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Fonte
@font-face {
  font-family: "rodona";
  src: url("./assets/font/Font_Rodona-Regular_BETA.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

:root {
  --ion-font-family: 'rodona';
}

.card {
  border-radius: 10px!important;
}

.alert-wrapper {
  border-radius: 20px!important;
}
