page-itens {

  .conteudo-item {
    .fundo {
      height: 100%;
      background: url('../../../assets/imgs/amor-em-estampa-1.jpeg') center;
      background-size: contain;

      .lista-input {
        background-color: transparent!important;

        .item-input {
          margin: 5px 0;
          --border-radius: 10px;
          --highlight-color-focused: transparent;
        }
      }
    }
  }

  // ion-label {
  //   text-overflow: unset;
  //   white-space: normal;
  // }

}
